body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}

.custom-checkbox label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  border-color: #03A9F4;
  background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}

/* Modal styles */
/* .modal .modal-dialog {
  max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}
 */
.form-label {
  font-size: 0.75rem;
  font-weight: 700;
}

.SumoSelect {
  width: 100%;
}

.irs--flat .irs-bar,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background: #3daf7c;
}

.irs--flat .irs-handle {
  background-color: #107ab6;
  border-radius: 9px;
  width: 18px;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
  background-color: transparent;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  border-top-color: transparent;
}

.disable {
  pointer-events: none;
 /*  color: #dddddd87 !important; */
 opacity: 0.7;
}

.sequencedisable {
  pointer-events: none;
 /*  background-color: #dddddd24; */
 opacity: 0.7;
}

.disable i {
 /*  color: #dddddd87 !important; */
 opacity: 0.7;
}

h6 {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
}

.parse_fixed {
  background-color: #f6f9ff;
  padding: 15px;
}

.form-switch .form-check-input {
  padding: 5px 12px;
  margin-top: 0.5rem!important;
}

.form-switch .form-check-label {
  margin-left: 10px;
  margin-top: 6px;
  font-weight: 600;
}

.was-validated .form-switch .form-check-input:valid:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e");
}

.was-validated .form-switch .form-check-input:valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
}

.dashboard .card {
  box-shadow: 0rem 0rem 0.11rem 0.11rem #1e40afb0;
  color: #1e40afb0;
  margin-bottom: 0.5rem;
  padding-bottom: 0px !important;
  height: 97%;
  /* border: 1px solid #1e40afb0; */
}

/* .dashboard .card .card-body{
  padding: 0.5rem 1rem !important;
} */

.dashboard .card .device {
  font-size: 1.2rem;
  font-weight: 600;
}
.dashboard .card .parameter{
  width: 40%;
  display:flex;
}
.dashboard .card .values{
  width: 50%;
  /* text-align: center; */
}

.dashboard .card .parameter span {
  font-size: 0.875rem;
  font-weight: 600;
}

.dashboard .card .parametername{
  font-size: 0.875rem;
  font-weight: 600;
  word-break: break-word;
  white-space: break-spaces;
}

.dashboard .card .icons,
.dashboard .card .parameter i {
  font-size: 1rem;
  cursor: pointer;
}

.dashboard .card .values .btn1 {
  border: 2px solid #1e40afb0 !important;
  border-radius: 4px;
  color: #0b0404 !important;
  font-weight: 600;
  background-color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 1.58rem;
  vertical-align: middle;
  /*  pointer-events: none; */
}

.dashboard .card .values .btn2 {
  border: 2px solid #1e40afb0 !important;
  border-left: none !important;
  border-radius: 4px;
  color: #fff !important;
  font-weight: 600;
  background-color: #1e40afb0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  pointer-events: none;
  width: 4rem;
  height: 1.58rem;
  vertical-align: middle;
}

.dashboard_row {
  width: 100%;
  /*  display: block; */
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 2px;
}

.dashboard_col {
  width: 25%;
  flex: 0 0 auto;
  /*  display: inline-block; */
  padding: 0rem 0.5rem;
}
.dashboard_row::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  border: 1px solid #1e40afb0;
  border-radius: 5px;
}

.dashboard_row::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px #1e40afb0;
  box-shadow: inset 0 0 6px #1e40afb0;
}

.modal.fade.zoom:not(.show) .modal-dialog {
  transform: scale(0.2);
}

.dashboard_dmodal table {
  margin-bottom: 0px;
}

.dashboard_dmodal .table tr.header_active th {
  background-color: #6e9ce3;
}

.dashboard_dmodal .table tr.body_active td {
  background-color: #cfe2ff;
}

.dashboard_dmodal table.table tr th,
.dashboard_dmodal table.table tr td {
  padding: 4px 10px;
  font-size: 0.75rem;
  width: 10%;
}
.dashboard_dmodal table.table tr th:last-child,
.dashboard_dmodal table.table tr td:last-child{
  width: 12%;
}
.dashboard_dmodal .modal-title {
  font-size: 1rem !important;
  font-weight: 700;
}

.dashboard_dmodal .modal-header {
  padding: 0.5rem;
}

.dashboard_dmodal .modal-footer {
  padding: 0rem;
}

.dashboard_dmodal .modal-footer .btn {
  padding: 0.2rem 1rem;
}

.dashboard_dmodal .modal-body {
  max-height: 70vh;
  overflow: auto;
}

.dashboard_dmodal .modal-body::-webkit-scrollbar {
  height: 8px;
  width: 7px;
  border: 1px solid #6e9ce3;
  border-radius: 5px;
}

.dashboard_dmodal .modal-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px #6e9ce3;
  box-shadow: inset 0 0 6px #6e9ce3;
}

.blink {
  color: red;
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@media (min-width: 1700px) {
  .dashboard_col {
    width: 20%;
  }
}
@media (min-width: 2000px) {
  .dashboard .card .parameter span {
    font-size: 1.2rem;
  }
  .dashboard .card .device {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .dashboard_col {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  .dashboard_col {
    width: 50%;
  }
}

.dashboard_dmodal fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
  height: 100%;
}

.dashboard_dmodal legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  float: none;
  width: auto;
  font-size: 0.875rem;
  font-weight: 600;
}

.dashboard_dmodal .col-form-label {
  font-size: 0.75rem;
  padding: 0.2rem;
  text-align: right;
}

/* .filtergroup .col{
  padding: 0px 5px;
} */
tr.highlight td.jsgrid-cell {
  background-color: green;
}

td.jsgrid-cell.highlight {
  background-color: green;
}

.jcontextmenu {
  display: none;
}

.jexcel {
  width: 100% !important;
}

.jexcel .highlight,
.jexcel .highlight-selected {
  background-color: #0dcaf075;
}

.updated {
  background-color: green !important;
  color: #fff;
}

.jexcel_row,
.jexcel_selectall,
table.jexcel colgroup col:nth-child(1) {
  display: none;
}

.jexcel .cellhelight {
  background-color: #0dcaf075 !important;
}

/* .jexcel>tbody>tr>td:nth-child(1).readonly,
.jexcel>tbody>tr>td:nth-child(2).readonly,
.jexcel>thead>tr>td:nth-child(2),
.jexcel>thead>tr>td:nth-child(1),
table.jexcel colgroup col:nth-child(2),
table.jexcel colgroup col:nth-child(1) {
  pointer-events: none;
} */

.btn.flag {
  width: 2rem;
  height: 2rem;
  color: #000 !important;
  cursor: default !important;
  margin-bottom: 0.5rem;
  border-radius: 50px;
  line-height: 1.0rem;
  text-align: center;
  padding: 0px;
}

.correct {
  background-color: #cbfdcb !important;
  border-color: #cbfdcb !important;
}

.rebuild {
  background-color: #00fe00 !important;
  border-color: #00fe00 !important;
}

.corrected {
  background-color: #008000 !important;
  border-color: #008000 !important;
}

.drift {
  background-color: #00ffff !important;
  border-color: #00ffff !important;
}

.failed {
  background-color: #c000c0 !important;
  border-color: #c000c0 !important;
}

.invalid {
  background-color: #fe0000 !important;
  border-color: #fe0000 !important;
}

.maint {
  background-color: #fe7f80 !important;
  border-color: #fe7f80 !important;
}

.zero {
  background-color: #feff00 !important;
  border-color: #feff00 !important;
}

.span {
  background-color: #fe7f00 !important;
  border-color: #fe7f00 !important;
}

.outofrangebutvalid {
  background-color: #993974 !important;
  border-color: #993974 !important;
}

.warning {
  background-color: #8080c0 !important;
  border-color: #8080c0 !important;
}

.anomaly {
  background-color: #744000 !important;
  border-color: #744000 !important;
}

.stop {
  background-color: #6c6a00 !important;
  border-color: #6c6a00 !important;
}

.alternativevalue {
  background-color: #d46c00 !important;
  border-color: #d46c00 !important;
}

.outofrange {
  background-color: #c26900 !important;
  border-color: #c26900 !important;
}

.outofdomain {
  background-color: #7c9200 !important;
  border-color: #7c9200 !important;
}



.swal2-title {
  font-size: 1.5rem !important;
}

.swal2-html-container {
  font-size: 1.125rem !important;
  margin-top: 0.5rem !important;
}
.swal2-styled{
  padding: 0.375rem 0.875rem !important;
  font-size:0.875rem !important;
}
.swal2-actions{
  margin: 1em auto 0 !important;
}
.dashboard_date{
  font-size: 0.75rem;
  font-weight: 600;
}
.serialrtumode{
  margin-top: 2rem !important;
}

.datashow{
  font-size: 0.855rem !important;
  font-weight: 600;
}
.jexcel_container{
  width:100%;
  overflow: auto;
}
.jexcel > thead > tr > td{
  font-size: calc(0.8rem);
  font-weight: 600;
  padding: 0.5em
}
.jexcel > tbody > tr > td{
  font-size: calc(0.75rem);
  font-weight: 600;
  padding: 0.5em !important;
  border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}
.jexcel >thead>tr.jexcel_nested>td{
  position: sticky;
  top: 0 !important;
  z-index: 2;
}
.jexcel >thead>tr:nth-child(2)>td{
  top: 22px !important;
}
.jexcel > tbody > tr > td.readonly{
  color:#444444 !important;
}
.Livedata .jexcel_content {
  max-height: calc(100vh - 300px) !important;
}
.rct-node-icon{
  display: none;
}
/* .jexcel_content {
  padding-bottom: 30px !important;
} */


.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 10px;
  z-index: 9999;
}




/*--Newly Added by Vinny--*/


.jexcel > thead > tr > td {

  background-color: #7593E6 !important;
  color: #ffffff !important;
  font-weight: 900;
  font-weight: bold;
  font-size: 14px;
}

.react-checkbox-tree label{
  font-size: 12px;
}