@media (min-width:320px) and (max-width: 1199px) {
  .header .toggle-sidebar-btn{
    display: block;
  }
  .table-status-bg .jsgrid-grid-body{
    overflow-y: scroll;
  }
  .station-width-control, .device-select-control{
    width: 100%!important;
  }
}

@media (min-width:320px) and (max-width: 767px) {
  .logo{width: auto;height: auto;justify-content: flex-start;}
  .logo img{height: 66px;  width: 69px;  object-fit: cover;margin-left: 8px;}
  .header-nav{padding: 9px 7px;}
  .toggle-sidebar .sidebar{top: 75px;}
  .jsgrid-header-row>.jsgrid-header-cell{
    font-size: 11px!important;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .logo{height: auto;}
  .logo img{height: 66px;  width: 69px;  object-fit: cover;margin-left: 8px;}
  /* .header-nav{padding: 9px 7px;} */
  .toggle-sidebar .sidebar{top: 75px;}
  .login-bg{background-size: 100% 100%;}
}

@media (min-width:992px) and (max-width: 1199px) {
  .logo{height: auto;}
  .logo img{height: 66px;  width: 69px;  object-fit: cover;margin-left: 8px;}
  /* .header-nav{padding: 9px 7px;} */
  .toggle-sidebar .sidebar{top: 75px;}
}
